html {
  font-family: 'Raleway', sans-serif;
  /*font-family: Helvetica, Arial, sans-serif;*/
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #321;

  margin-left: auto;
  margin-right: auto;
  width:686px;
}

@media all and (max-width: 700px)  {
  body {
    margin: 0;
    width: 100%;
  }
}

a.plain {
  color: white;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
  box-shadow: 0 0 50px 5px black;
  border-top: 1px solid #e8e6b8;
  border-left: 1px solid #e8e6b8;
  border-bottom: 1px solid #6d6c44;
  border-right: 1px solid #6d6c44;
}

td {
  background-image: url('images/background.png');
  background-size: contain;
  width:34px;
  height: 34px;
}

#msgArea, #stolenWhite {
  float: left;
  clear: both;
}

#msgAreaRt, #stolenBlack {
  float: right;
}

#stolenWhite img, #stolenBlack img {
  height: 34px;
}

#options {
  font-size: .8em;
  text-transform: uppercase;
  color: #d70;
}

.dot {
  background-image: url('images/background-dot.png');
}
.white {
  background-image: url('images/white.png');
}
.black {
  background-image: url('images/black.png');
}

#popup {
  background-color: #fff;
  color: black;
  display: none;
  position: absolute;
  z-index: 11000;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  top: 100px;
  padding-bottom: 20px;
}

@media all and (max-width: 562px) {
  #popup {
    width: 90%;
    margin: 0 auto;
    left: 20px;
    right: 20px;
    top: 20px;
  }
}

#popup p, #popup form { 
  padding: 5px 30px;
}

#popup h1 { 
  margin-top: 0;
  margin-bottom: 15px;
  padding: 20px 30px;
  background-color: #877;
  color: #fff;
}

.playerName {
  border-width: 0;
  border-bottom: 1px solid black;
  font-size: 1em;
}

#difficulty, #players {
  position:absolute;
  display:none;
}

#popup .submit {
  margin-top: 50px;
  border-radius: 5px;
  background-color: #877;
  color: white;
  border:none;
  padding: 10px 20px;
  font-size: 1em;
}

#overlay {
    opacity: .6;
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
